.new-budget__control{
    margin: auto;
}

.new-budget__control label{
    display: block;
    font-size: 20px;
    color: aliceblue;
    margin:10px 5px;
    align-items: baseline;
    vertical-align: top;
    width: 30%
    
}

.new-budget__actions{
    margin: auto;
    align-items: center;
    text-align: center;
    
}

/* .new-budget__control input, textarea{
    font:inherit;
    margin-left: 5px;
    margin-bottom: 20px;
    padding: 1px 15px;
    font-size: 20px;
    color: #fff;
    background: #ffffff5e;
    border:none;
    border-radius: 10px;
    width: 40%;
    height: 3rem;
    outline: none;
    transition: border 0.07s ease, background 1s;
    

}

textarea{
    height: 5rem;
    width:90%;
    padding-top: 10px;
    resize: none;
}



.new-budget__control input:focus , textarea:focus{
   
    border: 3px solid rgba(255, 255, 255, 0.493);
    background: #ffffff1a;
    
}

.new-budget__actions{
    margin: auto;
    align-items: center;
    text-align: center;
    
} */


