@media screen and (min-width: 200px) {

  .budget-container {
    padding: 0 0 20px 0;
    background-color: #01262b00;
    min-height: 100%;
    height: 100%;

  }

  .budget-summary {
    display: inline-block;
    background-color: #2fbf7000;
    margin: 0 10px;
    border-radius: 10px;
    border: 2px solid;
    border-color: #2fbf7080;
    width: 90%
  }

  .budget-title {
   
    width: 100%;
    height: auto;
    border-radius: 10px;

    text-align: center;
  }

  .budget-title h1 {
    margin: 10px 0 0 0;
    color: #FFF;
    font-size: 22px;
  }

  .budget-title p {
    margin: 0;
    color: #FFF;
   
  }


  .amountContainer {
    display: flex;
    justify-content: center;

  }

  .budget-detail__amounts {
    background: #001616;
    border-radius: 10px;
    margin: 5px;
    min-height: 80px;
    width: 45%;
  }

  .budget-detail__amounts p {
    margin: 0 auto;
    font-size: 14px;
    width: 70%;
  }

  .budget-detail__amounts h3 {

    margin: 0;
    margin: auto;
    width: 70%;
    color: white;
    text-align: center;
    background-color: #2fbf703b;
    border-radius: 10px;
    font-size: 14px;

  }

  .budget-detail__records {

    margin: 0;
    min-height: auto;
    width: 20%;
  }

  .budget-detail__records p {
    margin: 15px 0 0 0;
  }

  .budget-detail__records h3 {
    margin: 0;
    margin: auto;
    width: 70%;
    color: #fff;
    text-align: center;
    background-color: none;
    border-radius: 10px;
    font-size: 22px;
  }


  .budget-actions {
    margin: auto;

    padding: 100px 0 100px 0;

    text-align: center;


    display: block;

    width: 90%
  }

  .budget-actions {
    color: white;
  }

  .budget-actions span {
    color: #ed7d3a;
    text-decoration: underline;

  }

  .budget-details__Empty {

    display: flex;
    justify-content: center;
    border: none;
    margin: 10px;


    color: white;
    text-align: center;
    padding: 3px;
    background-color: #ffffff34;

    border-radius: 10px;

    font-size: 14px;




  }

  .budget-details__Empty p {
    margin: auto;
    padding: 5px;
    text-align: center;

  }

  .error-text {
    color: #ef2d56;
    margin-top: -15px;
  }
}

.actions-container p {
  margin: 5px 0
}

.fixed-actions {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100;
  height: fit-content;
  background-color: #3635372a;
  margin: auto;
  margin-top: 20px;
  padding: 10px 0 10px 0;
 
}

.actions{
  margin: 10px;
}

.actions p{
  margin-bottom: 5px;
}

.expand-actions {
  cursor: pointer;
  width:auto;
  height: auto;
  margin:0
}