
.form-container{
    border: none;
    padding: 1rem 0.5rem;
    border-radius: 10px;
    width: 100%;
    margin: auto;
    margin-top: 1rem;
    background-color:  none


}

.form-container h3{
    font-size: 2rem;
    color:#fff;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

