@media (min-width: 200px) {
    .expense-item {
        display: inline-block;
        background-color: rgb(22, 155, 44);
        border-radius: 5px;
        /* border: 1px solid rgb(22, 155, 44); */
        margin-bottom: 20px;

        width: 30%;
        height: 110px;
        cursor: pointer;


    }




    .expense-item-title {

        display: flex;
        justify-content: space-evenly;

    }

    .title {
        color: rgb(255, 255, 255);
        font-size: 14px;
        cursor: pointer;


    }

    .expense-item-row {
        display: flex;
        justify-content: space-around;
        margin-top: -25px;
    }

    .expense-item-row p {
        padding-top: 5px;
        color: white;
    }

    .expense-item-initial {

        color: white;
    }

    .D {
        background-color: greenyellow;
        border-radius: 100%;
        padding: 5px 10px;
        margin-right: 10px;
    }

    .C {
        background-color: rgb(255, 217, 47);
        border-radius: 100%;
        padding: 5px 10px;

    }

    .P {
        background-color: rgb(47, 161, 255);
        border-radius: 100%;
        padding: 5px 10px;

    }

    .R {
        background-color: rgb(85, 47, 255);
        border-radius: 100%;
        padding: 5px 10px;

    }


    .expense-expand {

        display: flex;
        justify-content: center;
        margin-top: -15px;
    }


    .expense-item-details {

        margin: auto;
        /* display: none; */
        background-color: rgb(22, 155, 44);
        border-radius: 5px;
        z-index: 1;


    }

    .expanded {
        position: relative;
        display: block;
        z-index: 1;
    }

    .expense-item-detail-row {
        display: flex;
        justify-content: space-around;
        margin-top: 0;
    }

    .expense-item-detail-row p {
        padding-top: 5px;
        font-size: 14px;
        color: white;
    }

    .expense-item-button {
        background: none;
        border: none;
        outline: none;
        color: white;
        cursor: pointer
    }

    .expense-item-actions {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }

}