@media (min-width: 200px) {
    .expense-item {
        position: relative;
        display: inline;
        background-color: #2fbf7033;
        border-radius: 5px;
        /* border: 1px solid rgb(22, 155, 44); */
        margin-bottom: 20px;
        
        width: 30%;
        height: fit-content;
        cursor: pointer;


    }

    .expense-item__expanded {
        width: 55%;
    }



    .expense-item-title {

        display: flex;
        justify-content: space-evenly;

    }

    .title {
        color: rgb(255, 255, 255);
        font-size: 14px;
        cursor: pointer;


    }

    .expense-item-row {
        display: flex;
        justify-content: space-evenly;
        margin-top: -25px;
       
    }

    .expense-item-row p {
        padding-top: 5px;
        color: white;
    }

    .expense-item-initial {

        color: white;
    }

    .D {
        background-color: #70e000;
        border-radius: 100%;
        padding: 5px 10px;
        margin-right: 10px;
    }

    .C {
        background-color: #ed7d3a;
        border-radius: 100%;
        padding: 5px 10px;

    }

    .P {
        background-color: #363537;
        border-radius: 100%;
        padding: 5px 10px;

    }

    .R {
        background-color: #ef2d56;
        border-radius: 100%;
        padding: 5px 10px;

    }


    .expense-expand {

        display: flex;
        justify-content: center;
        margin-top: -15px;
    }


    .expense-item-details {
        position: relative;
        margin: auto;

        background-color:none;
        border-radius: 5px;
        z-index: 1;


    }

    .expanded {
        position:relative;
        
        z-index: 1;
    }

    .expense-item-detail-row {
       
        width:80%;
        margin: auto;
        display: flex;
        justify-content: flex-start;
        
    }

    .expense-item-detail-row p {
        padding-top: 5px;
        margin-left: 5px;
        font-size: 14px;
        color: white;
    }

    .expense-item-button {
        background: none;
        border: none;
        outline: none;
        color: white;
        cursor: pointer
    }

    .expense-item-actions {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }

}