.expense-section {

}

.expense-section hr{
    width:50%
    
}


.expense-section p{
    text-align: left;
    margin-left: 10px;
}

.expense-section h1 {}

.expense-section_Title {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    color: #ed7d3a;
    width:95%;
    
}

.expense-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content:left;
    align-items: center;
    max-height: 420px;
    overflow: scroll;
    
    padding-left:15px;
    padding-bottom: 20px;




}