.button {
    margin: 0;
    position: relaive;

    width: 30px;
    height: 20px;
    
    padding: 5px;
    border: 1px solid #008b68;
    border-radius: 100%;
    color: white;
    background: #008b68;
    
    cursor: pointer;
  }
  
  .button:focus {
    outline: none;
  }
  
  .button:hover,
  .button:active {
    background: #3bac0e;
    border-color: #d8d8d8;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
  }
  
  @media (min-width: 768px) {
    .button {
      width: auto;
    }
  }