@media screen and (min-width: 200px) {


  .budget-container {
    padding: 20px 0 20px 0;
    background-color: #01262b;
    min-height: 100%;
    height: 100%;

  }

  .budget-title {
    margin-bottom: 10px;
  }

  .app-name h1{
    font-size: 2rem;
    color: #2FBF71;
  }

  .budget-title {


    background-color: none;
    margin: 0;
    color: #2fbf7062;
    text-align: center;
  }

  .budget-actions {
    margin: auto;

    padding: 100px 0 100px 0;

    text-align: center;


    display: block;

    width: 90%
  }

  .budget-actions{
    color: white;
  }

  .budget-actions span{
    color:#ed7d3a;
    text-decoration: underline;
    
  }
  .budget-details {
    margin: auto;

    display: flex;
    justify-content: center;
    min-height: auto;
    width: 95%;
  }

  .budget-details p {
    color: white;
    text-align: center;
    padding: 3px;
    background-color: #2fbf7075;
    border-radius: 10px;
    margin: 5px;
    font-size: 14px;

  }

  .budget-details__Empty {

    display: flex;
    justify-content: center;
    border: none;
    margin: auto;
    margin-top: 50px;
    width: 50%;
    color: white;
    text-align: center;
    padding: 3px;
    background-color: none;
    border-radius: 10px;

    font-size: 14px;




  }

  .budget-details__Empty p {
    margin: auto;
    padding: 5px;
    text-align: center;

  }

  .error-text{
    color: #ef2d56;
    margin-top: -15px;
  }
}

.fixed-actions{
  position: absolute;
 
  width: 100%;
  height: fit-content;
  background-color: #363537;
  margin-top: -30px;
  
}