.form {
    width: 100%;
    margin: auto

}

.label-title {
    color: white;
    margin: auto;
    margin-left: 5px;
    margin-bottom: 10px;
    

}


.form-control{
    margin: auto;
    text-align: center;
}

.form-title{
    
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.24);
    color: #2FBF71;
    width: 111%;
    height:60px;
    margin: -37px -15px 37px -15px;

    border-radius: 10px 10px 0 0;
}

.form-title h1{
    
    color: white;
    text-align: center;
    padding-top: 10px;
}
