@import url('https://fonts.googleapis.com/css2?family=Taviraj:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Urbanist', sans-serif;
}

body {
  margin: 0;
  background: #001516;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  margin: 2rem auto;
  text-align: center;
  color:white
  
}